USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Get_Enova_BLOB_url]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ev_enova].[Get_Enova_BLOB_url] 
    @TopRows INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopRows)
        ea.[attest_url],
        x.expected_filename
    FROM [EnergyCertificate].[ev_enova].[EnovaApi_Energiattest_url] ea
    CROSS APPLY (
        SELECT 
            LEFT(
                RIGHT(ea.[attest_url], CHARINDEX('/', REVERSE(ea.[attest_url])) - 1),
                CHARINDEX('?', RIGHT(ea.[attest_url], CHARINDEX('/', REVERSE(ea.[attest_url])) - 1) + '?') - 1
            ) AS expected_filename
    ) x
    WHERE ea.[attest_url] IS NOT NULL
      AND NOT EXISTS (
        SELECT 1
        FROM [EnergyCertificate].[ev_enova].[EnergylabelIDFiles] f
        WHERE f.[filename] = x.expected_filename
    )
      AND NOT EXISTS (
        SELECT 1 
        FROM [ev_enova].[PDF_Download_Log] dl 
        WHERE dl.[attest_url] = ea.[attest_url] 
          AND dl.[status] = 'Success'
    )
      AND NOT EXISTS (
        SELECT 1 
        FROM [ev_enova].[PDF_Download_Log] dl
        WHERE dl.[attest_url] = ea.[attest_url]
          AND dl.[status] = 'HTTP Error'
          AND dl.[status_message] LIKE '%Value for one of the query parameters specified in the request URI is invalid%'
    )
    GROUP BY ea.[attest_url], x.expected_filename;
END
GO
