USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[MergeEnergyLabels]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ev_enova].[MergeEnergyLabels]
AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsUpdated INT = 0;
    DECLARE @RowsInserted INT = 0;
    DECLARE @TotalRowsAffected INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000) = '';
    DECLARE @MergeActions TABLE (Action NVARCHAR(10));

    BEGIN TRY
        BEGIN TRANSACTION;

        WITH Count_Certificates AS (
            SELECT merkenummer, COUNT(distinct attestnummer) AS Count_Certificates,
                   MAX([attest_url]) AS original_url
            FROM [ev_enova].[EnovaApi_Energiattest_url]
            GROUP BY merkenummer
        ),
        SourceData AS (
            SELECT LF.EnergyLabelID, LF.file_id,
                   LF.[filename], 
                   LEFT(full_path, LEN(full_path) - CHARINDEX('\', REVERSE(full_path))) as folder,
                   C.original_url,
                   sync_date as [DownloadDate], 
                   C.Count_Certificates as CertificateCount
            FROM [ev_enova].[EnergylabelIDFiles] LF
            LEFT OUTER JOIN Count_Certificates C ON C.merkenummer = LF.EnergyLabelID
            WHERE C.Count_Certificates IS NOT NULL
        )
        MERGE [ev_enova].[EnergyLabelID] AS Target
        USING SourceData AS Source
        ON Target.EnergyLabelID = Source.EnergyLabelID

        WHEN NOT MATCHED BY TARGET THEN
            INSERT (EnergyLabelID, file_id, filename, folder, original_url, DownloadDate, CertificateCount)
            VALUES (Source.EnergyLabelID, Source.file_id, Source.filename, Source.folder, 
                    Source.original_url, Source.DownloadDate, Source.CertificateCount)

        WHEN MATCHED AND EXISTS (
            SELECT Source.EnergyLabelID, Source.file_id, Source.filename, Source.folder, 
                   Source.original_url, Source.DownloadDate, Source.CertificateCount
            EXCEPT 
            SELECT Target.EnergyLabelID, Target.file_id, Target.filename, Target.folder, 
                   Target.original_url, Target.DownloadDate, Target.CertificateCount
        ) THEN
            UPDATE SET 
                file_id = Source.file_id,
                filename = Source.filename,
                folder = Source.folder,
                original_url = Source.original_url,
                DownloadDate = Source.DownloadDate,
                CertificateCount = Source.CertificateCount

        OUTPUT $action INTO @MergeActions;

        SELECT @RowsUpdated = COUNT(*) FROM @MergeActions WHERE Action = 'UPDATE';
        SELECT @RowsInserted = COUNT(*) FROM @MergeActions WHERE Action = 'INSERT';
        SET @TotalRowsAffected = @RowsUpdated + @RowsInserted;

        COMMIT TRANSACTION;

        SELECT 
            @TotalRowsAffected AS TotalRowsAffected,
            @RowsUpdated AS RowsUpdated,
            @RowsInserted AS RowsInserted,
            (SELECT COUNT(*) FROM [ev_enova].[EnergyLabelID]) AS TotalEnergyLabelIDRecords,
            GETDATE() AS ExecutionTime;

        PRINT 'EnergyLabelID merge completed successfully.';
        PRINT 'Total rows affected: ' + CAST(@TotalRowsAffected AS VARCHAR(10));
        PRINT 'Rows updated: ' + CAST(@RowsUpdated AS VARCHAR(10));
        PRINT 'Rows inserted: ' + CAST(@RowsInserted AS VARCHAR(10));

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_MESSAGE();
        PRINT 'Error occurred during EnergyLabelID merge: ' + @ErrorMessage;
        THROW;
    END CATCH
END
GO
