USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Get_Text_To_Clean]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ev_enova].[Get_Text_To_Clean] 
    @TopRows INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT TOP (@TopRows) 
            fe.file_id, 
            fe.extracted_text,
            fe.[character_count]
        FROM [ev_enova].[EnergyLabelFileExtract] fe
        WHERE NOT EXISTS (
            SELECT 1 
            FROM [ev_enova].[EnergyLabelCleanedText] c
            WHERE c.file_id = fe.file_id
        )
        ORDER BY fe.file_id DESC;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END



GO
