USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Archive_OpenAIAnswers]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ev_enova].[Archive_OpenAIAnswers]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO [ev_enova].[OpenAIAnswers_Archive] (
            openAIAnswerID, file_id, PromptVersion, AboutEstate,
            Positives, Evaluation, Created
        )
        SELECT 
            openAIAnswerID, file_id, PromptVersion, AboutEstate,
            Positives, Evaluation, Created
        FROM [ev_enova].[OpenAIAnswers];

        DELETE FROM [ev_enova].[OpenAIAnswers];

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;

        THROW;
    END CATCH
END;
GO
