USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Get_Extracts_From_Cleaned_Text]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [ev_enova].[Get_Extracts_From_Cleaned_Text] 
    
AS
BEGIN
    SET NOCOUNT ON;


UPDATE [ev_enova].[EnergyLabelCleanedText]
SET IsMultiUnitBuilding = 1
WHERE (
    clean_text LIKE '%Energiattest for flerboligbygg%' 
    OR clean_text LIKE '%Antall registrerte enheter%'
)
AND ISNULL(IsMultiUnitBuilding, -1) <> 1;


UPDATE main
SET RegisteredUnitCount = subquery.extracted_number
FROM [ev_enova].[EnergyLabelCleanedText] main
INNER JOIN (
    SELECT 
        file_id,
        CASE 
            WHEN PATINDEX('%[0-9]%', [clean_text]) > 0 THEN
                SUBSTRING([clean_text], 
                    PATINDEX('%[0-9]%', [clean_text]),
                    PATINDEX('%[^0-9]%', [clean_text] + 'X') - PATINDEX('%[0-9]%', [clean_text])
                )
            ELSE ''
        END as extracted_number
    FROM (
        SELECT 
            file_id,
            LTRIM(RTRIM(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            SUBSTRING(
                                [clean_text],
                                CHARINDEX('Antall registrerte enheter', [clean_text]) + LEN('Antall registrerte enheter'),
                                CHARINDEX('Postnummer', [clean_text]) - CHARINDEX('Antall registrerte enheter', [clean_text]) - LEN('Antall registrerte enheter')
                            ), 
                            '|', ''
                        ), 
                        CHAR(13), ''
                    ), 
                    CHAR(10), ''
                )
            )) as clean_text
        FROM [ev_enova].[EnergyLabelCleanedText]
        WHERE CHARINDEX('Antall registrerte enheter', [clean_text]) > 0
          AND CHARINDEX('Postnummer', [clean_text]) > 0
          AND CHARINDEX('Postnummer', [clean_text]) > CHARINDEX('Antall registrerte enheter', [clean_text])
          AND IsMultiUnitBuilding = 1
    ) inner_subquery
) subquery ON main.file_id = subquery.file_id
WHERE ISNULL(main.RegisteredUnitCount, '') != subquery.extracted_number;

UPDATE [ev_enova].[EnergyLabelCleanedText]
SET MultiUnitBuildingReportedBy = subquery.cleaned_company
FROM [ev_enova].[EnergyLabelCleanedText] main
INNER JOIN (
    SELECT 
        file_id,
        CASE 
            WHEN raw_extracted = 'HRPAS' THEN 'HRP AS'
            ELSE raw_extracted
        END as cleaned_company
    FROM (
        SELECT 
            file_id,
            LTRIM(RTRIM(
                SUBSTRING(
                    raw_text,
                    LEN('Innmeldt av') + 1,  -- Start after "Innmeldt av "
                    CASE 
                        WHEN CHARINDEX('|', raw_text) > 0 THEN
                            CHARINDEX('|', raw_text) - LEN('Innmeldt av') - 1
                        ELSE
                            LEN(raw_text) - LEN('Innmeldt av')
                    END
                )
            )) as raw_extracted
        FROM (
            SELECT 
                file_id,
                CASE 
                    WHEN CHARINDEX('Innmeldt av', clean_text) > 0 THEN
                        SUBSTRING(
                            clean_text,
                            CHARINDEX('Innmeldt av', clean_text),
                            COALESCE(
                                NULLIF(CHARINDEX(CHAR(13) + CHAR(10), clean_text, CHARINDEX('Innmeldt av', clean_text)), 0),
                                NULLIF(CHARINDEX(CHAR(13), clean_text, CHARINDEX('Innmeldt av', clean_text)), 0),
                                NULLIF(CHARINDEX(CHAR(10), clean_text, CHARINDEX('Innmeldt av', clean_text)), 0),
                                LEN(clean_text) + 1
                            ) - CHARINDEX('Innmeldt av', clean_text)
                        )
                    ELSE NULL
                END as raw_text
            FROM [ev_enova].[EnergyLabelCleanedText]
            WHERE CHARINDEX('Innmeldt av', clean_text) > 0
              AND IsMultiUnitBuilding = 1
        ) inner_subquery
        WHERE raw_text IS NOT NULL
          AND LEN(LTRIM(RTRIM(raw_text))) > LEN('Innmeldt av') + 1  -- Ensure there's content after "Innmeldt av "
    ) middle_subquery
    WHERE raw_extracted IS NOT NULL 
      AND LTRIM(RTRIM(raw_extracted)) != ''
) subquery ON main.file_id = subquery.file_id
WHERE ISNULL(main.MultiUnitBuildingReportedBy, '') != subquery.cleaned_company;

UPDATE T
SET 
    T.[EnergyRating] = UPPER(E.energikarakter),
    T.[HeatingGrade] = CONCAT(
        UPPER(LEFT(E.oppvarmingskarakter, 1)),
        LOWER(SUBSTRING(E.oppvarmingskarakter, 2, LEN(E.oppvarmingskarakter)))
    ),
    T.[EnovaApiImportID] = E.EnovaApiImportID
FROM [EnergyCertificate].[ev_enova].[EnergyLabelCleanedText] T
INNER JOIN [ev_enova].[EnergyLabelFileExtract] FE ON T.[file_id] = FE.[file_id]
INNER JOIN [ev_enova].[EnergylabelIDFiles] F ON F.[file_id] = T.[file_id]
INNER JOIN (
    SELECT merkenummer AS EnergyLabelID, EnovaApiImportID, energikarakter, oppvarmingskarakter
    FROM (
        SELECT merkenummer, EnovaApiImportID, energikarakter, oppvarmingskarakter,
               ROW_NUMBER() OVER (PARTITION BY merkenummer ORDER BY EnovaApiImportID DESC) AS rn
        FROM [ev_enova].[EnovaApi_Energiattest_url]
    ) AS ranked
    WHERE rn = 1
) AS E ON F.EnergyLabelID = E.EnergyLabelID
WHERE T.IsMultiUnitBuilding = 1
  AND (
    -- Update if EnergyRating differs (handling NULLs)
    (T.[EnergyRating] IS NULL AND UPPER(E.energikarakter) IS NOT NULL)
    OR (T.[EnergyRating] IS NOT NULL AND UPPER(E.energikarakter) IS NULL)
    OR (T.[EnergyRating] != UPPER(E.energikarakter))
    
    OR
    
    -- Update if HeatingGrade differs (handling NULLs)
    (T.[HeatingGrade] IS NULL AND CONCAT(
        UPPER(LEFT(E.oppvarmingskarakter, 1)),
        LOWER(SUBSTRING(E.oppvarmingskarakter, 2, LEN(E.oppvarmingskarakter)))
    ) IS NOT NULL)
    OR (T.[HeatingGrade] IS NOT NULL AND CONCAT(
        UPPER(LEFT(E.oppvarmingskarakter, 1)),
        LOWER(SUBSTRING(E.oppvarmingskarakter, 2, LEN(E.oppvarmingskarakter)))
    ) IS NULL)
    OR (T.[HeatingGrade] != CONCAT(
        UPPER(LEFT(E.oppvarmingskarakter, 1)),
        LOWER(SUBSTRING(E.oppvarmingskarakter, 2, LEN(E.oppvarmingskarakter)))
    ))
    
    OR
    
    -- Update if EnovaApiImportID differs (handling NULLs)
    (T.[EnovaApiImportID] IS NULL AND E.EnovaApiImportID IS NOT NULL)
    OR (T.[EnovaApiImportID] IS NOT NULL AND E.EnovaApiImportID IS NULL)
    OR (T.[EnovaApiImportID] != E.EnovaApiImportID)
  );
END
GO
