USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[MergeCertificates]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure to merge energy certificates
CREATE PROCEDURE [ev_enova].[MergeCertificates]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsUpdated INT = 0;
    DECLARE @RowsInserted INT = 0;
    DECLARE @TotalRowsAffected INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000) = '';
    DECLARE @MergeActions TABLE (Action NVARCHAR(10));
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- MERGE statement to sync data from ImpHist to Certificate table
        -- Only processes the record with highest ImpHist_ID for each Attestnummer
        -- Updates existing records only if source has higher ImpHist_ID
        -- Inserts new Attestnummer that don't exist in destination
        
        WITH SourceData AS (
            -- Get only the record with highest ImpHist_ID for each Attestnummer
            SELECT 
                Attestnummer,
                ImpHist_ID,
                Knr,
                Gnr,
                Bnr,
                Snr,
                Fnr,
                Andelsnummer,
                Bygningsnummer,
                GateAdresse,
                Postnummer,
                Poststed,
                BruksEnhetsNummer,
                Organisasjonsnummer,
                Bygningskategori,
                Byggear,
                Energikarakter,
                Oppvarmingskarakter,
                Utstedelsesdato,
                TypeRegistrering,
                BeregnetLevertEnergiTotaltkWhm2,
                BeregnetFossilandel,
                Materialvalg,
                HarEnergiVurdering,
                EnergiVurderingDato
            FROM (
                SELECT *,
                       ROW_NUMBER() OVER (PARTITION BY Attestnummer ORDER BY ImpHist_ID DESC) as rn
                FROM [ev_enova].[EnovaApi_ImpHist]
            ) ranked
            WHERE rn = 1
        )
        MERGE [ev_enova].[Certificate] AS TARGET
        USING SourceData AS SOURCE
        ON TARGET.Attestnummer = SOURCE.Attestnummer

        -- Update existing records only if source has higher ImpHist_ID
        WHEN MATCHED AND SOURCE.ImpHist_ID > TARGET.ImpHist_ID THEN
            UPDATE SET
                ImpHist_ID = SOURCE.ImpHist_ID,
                Knr = SOURCE.Knr,
                Gnr = SOURCE.Gnr,
                Bnr = SOURCE.Bnr,
                Snr = SOURCE.Snr,
                Fnr = SOURCE.Fnr,
                Andelsnummer = SOURCE.Andelsnummer,
                Bygningsnummer = SOURCE.Bygningsnummer,
                GateAdresse = SOURCE.GateAdresse,
                Postnummer = SOURCE.Postnummer,
                Poststed = SOURCE.Poststed,
                BruksEnhetsNummer = SOURCE.BruksEnhetsNummer,
                Organisasjonsnummer = SOURCE.Organisasjonsnummer,
                Bygningskategori = SOURCE.Bygningskategori,
                Byggear = SOURCE.Byggear,
                Energikarakter = SOURCE.Energikarakter,
                Oppvarmingskarakter = SOURCE.Oppvarmingskarakter,
                Utstedelsesdato = SOURCE.Utstedelsesdato,
                TypeRegistrering = SOURCE.TypeRegistrering,
                BeregnetLevertEnergiTotaltkWhm2 = SOURCE.BeregnetLevertEnergiTotaltkWhm2,
                BeregnetFossilandel = SOURCE.BeregnetFossilandel,
                Materialvalg = SOURCE.Materialvalg,
                HarEnergiVurdering = SOURCE.HarEnergiVurdering,
                EnergiVurderingDato = SOURCE.EnergiVurderingDato

        -- Insert new Attestnummer that don't exist in destination
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (
                Attestnummer,
                ImpHist_ID,
                Knr,
                Gnr,
                Bnr,
                Snr,
                Fnr,
                Andelsnummer,
                Bygningsnummer,
                GateAdresse,
                Postnummer,
                Poststed,
                BruksEnhetsNummer,
                Organisasjonsnummer,
                Bygningskategori,
                Byggear,
                Energikarakter,
                Oppvarmingskarakter,
                Utstedelsesdato,
                TypeRegistrering,
                BeregnetLevertEnergiTotaltkWhm2,
                BeregnetFossilandel,
                Materialvalg,
                HarEnergiVurdering,
                EnergiVurderingDato
            )
            VALUES (
                SOURCE.Attestnummer,
                SOURCE.ImpHist_ID,
                SOURCE.Knr,
                SOURCE.Gnr,
                SOURCE.Bnr,
                SOURCE.Snr,
                SOURCE.Fnr,
                SOURCE.Andelsnummer,
                SOURCE.Bygningsnummer,
                SOURCE.GateAdresse,
                SOURCE.Postnummer,
                SOURCE.Poststed,
                SOURCE.BruksEnhetsNummer,
                SOURCE.Organisasjonsnummer,
                SOURCE.Bygningskategori,
                SOURCE.Byggear,
                SOURCE.Energikarakter,
                SOURCE.Oppvarmingskarakter,
                SOURCE.Utstedelsesdato,
                SOURCE.TypeRegistrering,
                SOURCE.BeregnetLevertEnergiTotaltkWhm2,
                SOURCE.BeregnetFossilandel,
                SOURCE.Materialvalg,
                SOURCE.HarEnergiVurdering,
                SOURCE.EnergiVurderingDato
            )
        OUTPUT $action INTO @MergeActions;

        -- Get row counts for each action
        SELECT @RowsUpdated = COUNT(*) FROM @MergeActions WHERE Action = 'UPDATE';
        SELECT @RowsInserted = COUNT(*) FROM @MergeActions WHERE Action = 'INSERT';
        SET @TotalRowsAffected = @RowsUpdated + @RowsInserted;

        COMMIT TRANSACTION;

        -- Output summary of changes
        SELECT 
            @TotalRowsAffected as TotalRowsAffected,
            @RowsUpdated as RowsUpdated,
            @RowsInserted as RowsInserted,
            (SELECT COUNT(*) FROM [ev_enova].[Certificate]) as TotalCertificateRecords,
            GETDATE() as ExecutionTime;

        PRINT 'Certificate merge completed successfully.';
        PRINT 'Total rows affected: ' + CAST(@TotalRowsAffected AS VARCHAR(10));
        PRINT 'Rows updated: ' + CAST(@RowsUpdated AS VARCHAR(10));
        PRINT 'Rows inserted: ' + CAST(@RowsInserted AS VARCHAR(10));

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_MESSAGE();
        
        PRINT 'Error occurred during certificate merge: ' + @ErrorMessage;
        
        -- Re-throw the error
        THROW;
    END CATCH
END
GO
