USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Get_PDF_for_Extract]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ev_enova].[Get_PDF_for_Extract] 
    @TopRows INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT TOP (@TopRows) 
            p.[file_id], 
            p.[filename], 
            p.[full_path]
        FROM [ev_enova].[EnergylabelIDFiles] p
        WHERE NOT EXISTS (
            SELECT 1 
            FROM [ev_enova].[EnergyLabelFileExtract] fe 
            WHERE fe.[file_id] = p.[file_id]
        )
        ORDER BY p.[filename];
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
