USE [EnergyCertificate]
GO
/****** Object:  StoredProcedure [ev_enova].[Get_Enova_Files_Without_Link_To_Certificate]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ev_enova].[Get_Enova_Files_Without_Link_To_Certificate]
AS
BEGIN
-- Most likely reason Certificate not processed
SELECT F.[file_id], F.[filename], F.[full_path], F.[file_size], 
       F.[file_extension], F.[sync_date], F.[EnergyLabelID],D.Attestnummer  
FROM [ev_enova].[EnergylabelIDFiles] F
LEFT OUTER JOIN 
(

SELECT attestnummer, merkenummer FROM
[ev_enova].[EnovaApi_Energiattest_url]
group by attestnummer, merkenummer
) D ON D.merkenummer = F.[EnergyLabelID]
WHERE NOT EXISTS (
    SELECT 1 
    FROM [EnergyCertificate].[ev_enova].[EnergyLabelID] E
    WHERE E.[filename] = F.[filename]
)
END
GO
