USE [EnergyCertificate]
GO
/****** Object:  View [ev_enova].[ViewOpenAIinPowerBI]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [ev_enova].[ViewOpenAIinPowerBI]
AS

SELECT AI.[openAIAnswerID]
      ,AI.[file_id]
      ,AI.[PromptVersion]
      ,AI.[AboutEstate]
      ,AI.[Positives]
      ,AI.[Evaluation]
      ,AI.[Created]
      ,TD.EnergyLabelID + ' (' + UPPER(UR.[energikarakter]) + ' ' + UR.[oppvarmingskarakter] + ')' AS EnergyLabelID

  FROM [EnergyCertificate].[ev_enova].[OpenAIAnswers] AI
  INNER JOIN 
[ev_enova].[SampleTestDataForOpenAI] TD ON TD.file_id = AI.file_id
INNER JOIN [ev_enova].[EnovaApi_Energiattest_url] UR ON UR.[EnovaApiImportID] = TD.[EnovaApiImportID]
GO
