USE [EnergyCertificate]
GO
/****** Object:  View [ev_enova].[BLOB_Invalid_URL]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ev_enova].[BLOB_Invalid_URL]
AS

WITH cte AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY [attest_url] ORDER BY [download_date] DESC) AS rn
    FROM [EnergyCertificate].[ev_enova].[PDF_Download_Log]
    WHERE [http_status_code] = 400
)
SELECT 
    [attest_url],
    [filename],
    [download_date],
    [status],
    [status_message],
    [file_size],
    [http_status_code],
    [created]
FROM cte
WHERE rn = 1;
GO
