USE [EnergyCertificate]
GO
/****** Object:  View [ev_enova].[API_TooManyResults]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ev_enova].[API_TooManyResults]
AS
SELECT [EnovaAPILogID]
      ,[CertificateID]
      ,[LogDate]
      ,[kommunenummer]
      ,[gardsnummer]
      ,[bruksnummer]
      ,[seksjonsnummer]
      ,[bruksenhetnummer]
      ,[bygningsnummer]
      ,[records_returned]
      ,[status_message]
      ,[Created]
      ,[Attestnummer]
  FROM [EnergyCertificate].[ev_enova].[EnovaApi_Energiattest_url_log]
  WHERE status_message = 'Too many results (25+ eiendommer)'
GO
