USE [EnergyCertificate]
GO
/****** Object:  View [ev_enova].[SampleTestDataForOpenAI]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [ev_enova].[SampleTestDataForOpenAI]
AS 

SELECT 
  file_id,
  'Opptre som ekspert i et selskap som lever av å selge informasjon om eiendom og bygninger. Du skal oppsummere relevante forhold knyttet til energimerke fra Enova med Energikarakter ' + EnergyRating +
  ' og Oppvarmingskarakter ' + HeatingGrade + ' for boligen.' +
  ' Merkenummer er ''' + EnergyLabelID + ''' datert ' + [DateOfIssue] + '.' +
  ' Hold deg til fakta og ikke gå ut over 500 ord.' +
  ' Byggeår er ' + YearOfConstruction + ' og bygningskategori er ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' Attesten dekker ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' registrerte enheter.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' Energiattesten er innmeldt av ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Innmeldt adresse ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Bruksareal ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' kvadratmeter.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Beregnet Levert Energi Totalt kWh/m2: ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Beregnet Levert Energi Totalt kWh: ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' Beregnet Fossilandel er ' + CalculatedFossilEnergyShare + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Materialvalg ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Øvrige opplysninger fra rapporten: [Rapport start]' + [extracted_portion] + '[Rapport slutt]' +
  ' Hold deg til fakta som er gitt som input. Svaret skal være på dette formatet: Eiendom: Litt om eiendommen Positive ting: Hva er bra i forhold til Energiattesten Kort vurdering: Spesielle forhold som bør trekkes frem av en eller annen art.' +
  ' '
AS PROMPT_V1_NOR
,
 -- English Prompt - Option 1: Keep Norwegian section headers (compatible with existing Python)
  'Act as an expert from a company that specializes in selling property and building information. You shall summarize relevant conditions related to the energy certificate from Enova with Energy Rating ' + EnergyRating +
  ' and Heating Grade ' + HeatingGrade + ' for this property.' +
  ' Certificate number is ''' + EnergyLabelID + ''' dated ' + [DateOfIssue] + '.' +
  ' Year of construction is ' + YearOfConstruction + ' and building category is ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' The certificate covers ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' registered units.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' The energy certificate was reported by ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Registered address: ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Usable floor area: ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' square meters.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Calculated Delivered Energy kWh/m²: ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Calculated Total Delivered Energy kWh: ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' Calculated Fossil Energy Share: ' + CalculatedFossilEnergyShare + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Material Selection: ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Additional information from the report: [Report start] ' + [extracted_portion] + ' [Report end]' +
  ' Analyze the data and write a structured summary. Stick strictly to the facts provided. Maximum 500 words.' +
  ' The response must follow exactly this format:' +
  ' Eiendom: [Property description based on provided data]' +
  ' Positive ting: [Highlight energy-efficient aspects and property advantages]' +
  ' Kort vurdering: [Special circumstances, improvement potential, or other relevant observations]'
AS PROMPT_V2_NOR,


 -- English Prompt - Option 1: Keep Norwegian section headers (compatible with existing Python)
  'RESPOND ONLY IN ENGLISH. Act as an expert from a company that specializes in selling property and building information. You shall summarize relevant conditions related to the energy certificate from Enova with Energy Rating ' + EnergyRating +
  ' and Heating Grade ' + HeatingGrade + ' for this property.' +
  ' Certificate number is ''' + EnergyLabelID + ''' dated ' + [DateOfIssue] + '.' +
  ' Year of construction is ' + YearOfConstruction + ' and building category is ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' The certificate covers ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' registered units.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' The energy certificate was reported by ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Registered address: ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Usable floor area: ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' square meters.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Calculated Delivered Energy kWh/m²: ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Calculated Total Delivered Energy kWh: ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' Calculated Fossil Energy Share: ' + CalculatedFossilEnergyShare + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Material Selection: ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Additional information from the report: [Report start] ' + [extracted_portion] + ' [Report end]' +
  ' IMPORTANT: Write your entire response in English language only. Analyze the data and write a structured summary. Stick strictly to the facts provided. Maximum 500 words.' +
  ' The response must follow exactly this format (section headers in Norwegian but content in English):' +
  ' Eiendom: [Write property description in English based on provided data]' +
  ' Positive ting: [Write in English - highlight energy-efficient aspects and property advantages]' +
  ' Kort vurdering: [Write in English - special circumstances, improvement potential, or other relevant observations]'
AS PROMPT_V3_UK,

  -- Norwegian Business Property Broker Prompt
  'Du er en erfaren eiendomsmegler som spesialiserer seg på næringseiendommer. Analyser dette energiattesten for eiendommen og gi en profesjonell vurdering rettet mot potensielle kjøpere eller selgere av næringseiendommer.' +
  ' Energikarakter: ' + EnergyRating + ', Oppvarmingskarakter: ' + HeatingGrade + '.' +
  ' Energiattest nr. ''' + EnergyLabelID + ''' utstedt ' + [DateOfIssue] + '.' +
  ' Byggeår ' + YearOfConstruction + ', kategori: ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' Bygget omfatter ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' registrerte enheter.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' Rapportert av ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Beliggenhet: ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Bruksareal: ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' m².' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Energiforbruk: ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + ' kWh/m².' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Total energiforbruk: ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + ' kWh årlig.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' Fossilandel: ' + CalculatedFossilEnergyShare + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Materialvalg: ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Teknisk informasjon fra rapporten: [Rapport start] ' + [extracted_portion] + ' [Rapport slutt]' +
  ' Fokuser på kommersielle aspekter som driftskostnader, markedsposisjon, regulatoriske forhold og investeringspotensial.' +
  ' Vurder konkurranseevne mot sammenlignbare næringseiendommer. Nevn konkrete tall og beløp når mulig.' +
  ' Maksimalt 500 ord. Svaret skal følge nøyaktig dette formatet:' +
  ' Eiendom: [Kommersielle egenskaper, størrelse, type og tekniske spesifikasjoner som påvirker verdi og attraktivitet]' +
  ' Positive ting: [Energieffektivitet som konkurransefortrinn, lave driftskostnader, bærekraftsaspekter som tiltrekker leietakere]' +
  ' Kort vurdering: [Markedsposisjon, investeringsrisiko, fremtidige regulatoriske krav, oppgraderingsbehov og verdiutvikling]'
AS PROMPT_V4_NOR_BUSINESS,


  -- Norwegian Bank Lending Officer Environmental Risk Assessment Prompt
  'Du er en erfaren bankrådgiver som jobber med eiendomsfinansiering og har ansvar for å vurdere miljø- og bærekraftsrisiko ved utlån. Analyser energiattesten for denne eiendommen fra et utlånsperspektiv med fokus på miljørisiko, regulatorisk compliance og fremtidig verdiutvikling.' +
  ' Energikarakter: ' + EnergyRating + ', Oppvarmingskarakter: ' + HeatingGrade + '.' +
  ' Energiattest nr. ''' + EnergyLabelID + ''' utstedt ' + [DateOfIssue] + '.' +
  ' Byggeår ' + YearOfConstruction + ', kategori: ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' Bygget omfatter ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' enheter.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' Rapportert av ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Adresse: ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Bruksareal: ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' m².' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Energiintensitet: ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + ' kWh/m² årlig.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Årlig energiforbruk: ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + ' kWh.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' Fossilenergiandel: ' + CalculatedFossilEnergyShare + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Materialvalg: ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Tekniske data fra energirapporten: [Rapport start] ' + [extracted_portion] + ' [Rapport slutt]' +
  ' Vurder eiendommen mot ESG-kriterier, klimarisiko, og bankens bærekraftspolitikk. Fokuser på regulatory compliance (EU-taksonomi, CSRD), stranded asset-risiko, og fremtidige oppgraderingskostnader.' +
  ' Vurder kredittsikkerhet basert på miljøfaktorer og langsiktig verdiutvikling. Identifiser potensielle miljørelaterte tap og finansielle risikoer.' +
  ' Maksimalt 500 ord. Svaret skal følge nøyaktig dette formatet:' +
  ' Eiendom: [Miljøprofil, energieffektivitet, teknisk tilstand og compliance-status som påvirker utlånsrisiko]' +
  ' Positive ting: [Miljømessige fortrinn som reduserer finansiell risiko, god ESG-score, lav klimarisiko, fremtidssikker teknologi]' +
  ' Kort vurdering: [Utlånsrisiko knyttet til miljøfaktorer, regulatoriske krav, oppgraderingsbehov, og anbefaling for lånevilkår]'
AS PROMPT_V5_NOR_BANK,

  -- Norwegian "Common Person" Building Assessment Prompt
  'Du er en erfaren håndverker og bygningsekspert som snakker helt vanlig norsk. Du skal forklare energiattesten på en måte som alle forstår, uten faguttrykk og krånglete formuleringer. Tenk deg at du snakker med en venn som vurderer å kjøpe eller leie denne eiendommen.' +
  ' Bygget har energikarakter ' + EnergyRating + ' og oppvarmingskarakter ' + HeatingGrade + '.' +
  ' Energiattesten (nr. ''' + EnergyLabelID + ''') er fra ' + [DateOfIssue] + '.' +
  ' Bygget er fra ' + YearOfConstruction + ' og er en ' + [Building Category] + '.' + 
  CASE WHEN IsMultiUnitBuilding = 1 THEN 
    ' Det er ' + TRY_CONVERT(NVARCHAR, RegisteredUnitCount) + ' leiligheter/enheter i bygget.' 
  ELSE '' END +
  CASE WHEN IsMultiUnitBuilding = 1 AND LEN(ISNULL(MultiUnitBuildingReportedBy, '')) > 0 THEN 
    ' Rapporten er laget av ' + MultiUnitBuildingReportedBy + '.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Street Name], '') + ISNULL([Postal Code], '') + ISNULL([City], '')) > 0 THEN 
    ' Adressen er ' + ISNULL([Street Name], '') + ', ' + ISNULL([Postal Code], '') + ' ' + ISNULL([City], '') + '.' 
  ELSE '' END +
  CASE WHEN ISNULL([Usable Floor Area], 0) > 0 THEN 
    ' Boligarealet er ' + TRIM(STR([Usable Floor Area], 20, 2)) + ' kvadratmeter.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Delivered Energy per m² (kWh/m²)], 0) > 0 THEN 
    ' Energiforbruket er ' + TRIM(STR([Calculated Delivered Energy per m² (kWh/m²)], 20, 2)) + ' kWh per kvadratmeter i året.' 
  ELSE '' END +
  CASE WHEN ISNULL([Calculated Total Delivered Energy (kWh)], 0) > 0 THEN 
    ' Totalt bruker bygget ' + TRIM(STR([Calculated Total Delivered Energy (kWh)], 20, 2)) + ' kWh i året.' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL(CalculatedFossilEnergyShare, '')) > 0 THEN 
    ' ' + CalculatedFossilEnergyShare + ' av energien kommer fra fossil energi (olje, gass).' 
  ELSE '' END +
  CASE WHEN LEN(ISNULL([Material Selection], '')) > 0 THEN 
    ' Materialene som er brukt: ' + [Material Selection] + '.' 
  ELSE '' END +
  ' Mer info fra rapporten: [Rapport start] ' + [extracted_portion] + ' [Rapport slutt]' +
  ' Forklar hva dette egentlig betyr for hverdagsøkonomien. Hvor mye koster det å bo her? Er det kaldt om vinteren? Blir strømregningen høy? Er det noe som bør fikses?' +
  ' Snakk som om du forklarer for en kompis over kaffen. Bruk enkle ord og sammenlign gjerne med andre boliger. Maksimalt 500 ord.' +
  ' Svaret skal følge nøyaktig dette formatet:' +
  ' Eiendom: [Beskriv bygget på enkel måte - størrelse, alder, type og hvordan det ser ut energimessig]' +
  ' Positive ting: [Hva som er bra med bygget - lav strømregning, god isolering, moderne oppvarming eller lignende]' +
  ' Kort vurdering: [Ærlig vurdering - koster det mye å bo her, er det noe som bør fikses, hvordan er det sammenlignet med andre boliger]'
AS PROMPT_V6_NOR_FOLKELIG,

EnovaApiImportID, EnergyLabelID
FROM (
  SELECT 
    T.file_id, 
    T.clean_text, 
    p.extracted_portion,
    T.cleaned_date, 
    T.character_count, 
    T.IsMultiUnitBuilding, 
    T.RegisteredUnitCount, 
    T.MultiUnitBuildingReportedBy, 
    T.EnergyRating, 
    T.HeatingGrade, 
    T.EnovaApiImportID,
    bygg_bygningsnummer AS BuildingIDNumber,
    bygg_byggear AS YearOfConstruction,
    CAST(CAST(registering_BeregnetFossilandel * 100 AS INT) AS NVARCHAR) + '%' AS CalculatedFossilEnergyShare,
    merkenummer AS EnergyLabelID,
    registering_BeregnetLevertEnergiTotaltkWhm2 AS [Calculated Delivered Energy per m² (kWh/m²)],
    registering_BeregnetLevertEnergiTotaltkWh AS [Calculated Total Delivered Energy (kWh)],
    bruksareal AS [Usable Floor Area],
    bygg_kategori AS [Building Category],
    registering_Materialvalg AS [Material Selection],
    adresse_gatenavn AS [Street Name],
    adresse_postnummer AS [Postal Code],
    adresse_poststed AS [City],
    FORMAT(utstedelsesdato, 'MMMM d, yyyy') AS [DateOfIssue]
  FROM 
    [EnergyCertificate].[ev_enova].[EnergyLabelCleanedText] T
  INNER JOIN 
    [ev_enova].[EnovaApi_Energiattest_url] U ON U.EnovaApiImportID = T.EnovaApiImportID
  INNER JOIN 
    [ev_enova].[EnergyLabelExtractedPortion] p ON p.file_id = T.file_id
  WHERE 
    T.IsMultiUnitBuilding = 1 
    AND T.EnergyRating IS NOT NULL
    AND T.file_id IN (4626, 11634, 4349, 5818, 4475, 5340, 5134, 5056, 5474)
) D

GO
