USE [EnergyCertificate]
GO
/****** Object:  View [ev_enova].[PDFText_Compression_Percent]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ev_enova].[PDFText_Compression_Percent]
AS
SELECT  
    a.[file_id],
    a.[clean_text],
    a.[cleaned_date],
    a.[character_count],
    e.[character_count] AS original_character_count,
    CAST(
        100.0 * (e.character_count - a.character_count) / NULLIF(e.character_count, 0) 
        AS DECIMAL(5,2)
    ) AS compression_reduction_percent
FROM [ev_enova].[EnergyLabelCleanedText] a
INNER JOIN [ev_enova].[EnergyLabelFileExtract] e 
    ON a.file_id = e.file_id;
GO
