USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnergyLabelCleanedText]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnergyLabelCleanedText](
	[file_id] [int] NOT NULL,
	[clean_text] [nvarchar](max) NOT NULL,
	[cleaned_date] [datetime] NOT NULL,
	[character_count] [int] NOT NULL,
	[IsMultiUnitBuilding] [int] NULL,
	[RegisteredUnitCount] [int] NULL,
	[MultiUnitBuildingReportedBy] [nvarchar](200) NULL,
	[EnergyRating] [nvarchar](1) NULL,
	[HeatingGrade] [nvarchar](50) NULL,
	[EnovaApiImportID] [bigint] NULL,
 CONSTRAINT [PK_EnergyLabelCleanedText] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ev_enova].[EnergyLabelCleanedText] ADD  CONSTRAINT [DF_EnergyLabelCleanedText_cleaned_date]  DEFAULT (getdate()) FOR [cleaned_date]
GO
