USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[Certificate]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[Certificate](
	[CertificateID] [bigint] IDENTITY(1,1) NOT NULL,
	[Attestnummer] [nvarchar](50) NOT NULL,
	[ImpHist_ID] [bigint] NOT NULL,
	[Knr] [int] NULL,
	[Gnr] [int] NULL,
	[Bnr] [int] NULL,
	[Snr] [int] NULL,
	[Fnr] [int] NULL,
	[Andelsnummer] [bigint] NULL,
	[Bygningsnummer] [bigint] NULL,
	[GateAdresse] [nvarchar](50) NULL,
	[Postnummer] [int] NULL,
	[Poststed] [nvarchar](50) NULL,
	[BruksEnhetsNummer] [nvarchar](50) NULL,
	[Organisasjonsnummer] [bigint] NULL,
	[Bygningskategori] [nvarchar](50) NULL,
	[Byggear] [int] NULL,
	[Energikarakter] [nvarchar](50) NULL,
	[Oppvarmingskarakter] [nvarchar](50) NULL,
	[Utstedelsesdato] [datetime] NULL,
	[TypeRegistrering] [nvarchar](50) NULL,
	[BeregnetLevertEnergiTotaltkWhm2] [nvarchar](50) NULL,
	[BeregnetFossilandel] [nvarchar](50) NULL,
	[Materialvalg] [nvarchar](50) NULL,
	[HarEnergiVurdering] [nvarchar](10) NULL,
	[EnergiVurderingDato] [datetime] NULL,
 CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Certificate_Attestnummer]    Script Date: 01.08.2025 16:42:28 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Certificate_Attestnummer] ON [ev_enova].[Certificate]
(
	[Attestnummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
