USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnergylabelIDFiles]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnergylabelIDFiles](
	[file_id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[full_path] [nvarchar](500) NULL,
	[file_size] [bigint] NULL,
	[file_extension] [nvarchar](10) NULL,
	[sync_date] [datetime] NULL,
	[EnergyLabelID]  AS (left([filename],len([filename])-charindex('.',reverse([filename])))) PERSISTED,
 CONSTRAINT [PK_EnergylabelIDFiles] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
