USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnergyLabelExtractedPortion]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnergyLabelExtractedPortion](
	[file_id] [int] NOT NULL,
	[extracted_portion] [nvarchar](max) NULL,
 CONSTRAINT [PK_extracted_portion] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
