USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnovaApi_Energiattest_url]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnovaApi_Energiattest_url](
	[EnovaApiImportID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[CertificateID] [bigint] NULL,
	[paramKommunenummer] [nvarchar](20) NULL,
	[paramGardsnummer] [nvarchar](20) NULL,
	[paramBruksnummer] [nvarchar](20) NULL,
	[paramSeksjonsnummer] [nvarchar](20) NULL,
	[paramBruksenhetnummer] [nvarchar](50) NULL,
	[paramBygningsnummer] [nvarchar](50) NULL,
	[attestnummer] [nvarchar](100) NULL,
	[merkenummer] [nvarchar](100) NULL,
	[bruksareal] [decimal](12, 2) NULL,
	[energikarakter] [nvarchar](100) NULL,
	[oppvarmingskarakter] [nvarchar](100) NULL,
	[attest_url] [nvarchar](1000) NULL,
	[matrikkel_kommunenummer] [nvarchar](20) NULL,
	[matrikkel_gardsnummer] [nvarchar](20) NULL,
	[matrikkel_bruksnummer] [nvarchar](20) NULL,
	[matrikkel_festenummer] [nvarchar](20) NULL,
	[matrikkel_seksjonsnummer] [nvarchar](20) NULL,
	[matrikkel_andelsnummer] [nvarchar](50) NULL,
	[matrikkel_bruksenhetsnummer] [nvarchar](50) NULL,
	[bygg_bygningsnummer] [nvarchar](50) NULL,
	[bygg_byggear] [nvarchar](4) NULL,
	[bygg_kategori] [nvarchar](100) NULL,
	[bygg_type] [nvarchar](100) NULL,
	[utstedelsesdato] [datetime] NULL,
	[adresse_gatenavn] [nvarchar](100) NULL,
	[adresse_postnummer] [nvarchar](5) NULL,
	[adresse_poststed] [nvarchar](100) NULL,
	[registering_RegisteringType] [nvarchar](10) NULL,
	[registering_BeregnetLevertEnergiTotaltkWhm2] [decimal](12, 2) NULL,
	[registering_BeregnetLevertEnergiTotaltkWh] [decimal](12, 2) NULL,
	[registering_HarEnergivurdering] [nvarchar](5) NULL,
	[registering_Energivurderingdato] [datetime] NULL,
	[registering_BeregnetFossilandel] [decimal](12, 2) NULL,
	[registering_Materialvalg] [nvarchar](20) NULL,
	[OrganisasjonsNummer] [nvarchar](50) NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_EnovaApi_Energiattest_url] PRIMARY KEY CLUSTERED 
(
	[EnovaApiImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ev_enova].[EnovaApi_Energiattest_url] ADD  CONSTRAINT [DF_EnovaApi_Energiattest_url_ImportDate]  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [ev_enova].[EnovaApi_Energiattest_url] ADD  CONSTRAINT [DF_EnovaApi_Energiattest_url_Created]  DEFAULT (getdate()) FOR [Created]
GO
