USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnergyLabelFileExtract]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnergyLabelFileExtract](
	[file_id] [int] NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[extracted_text] [nvarchar](max) NULL,
	[extraction_date] [datetime] NOT NULL,
	[extraction_method] [nvarchar](100) NULL,
	[extraction_status] [nvarchar](50) NULL,
	[character_count] [int] NULL,
	[page_count] [int] NULL,
 CONSTRAINT [PK_EnergyLabelFileExtract] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
