USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[PDF_Download_Log]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[PDF_Download_Log](
	[download_log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[attest_url] [nvarchar](1000) NOT NULL,
	[filename] [nvarchar](255) NULL,
	[download_date] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[status_message] [nvarchar](500) NULL,
	[file_size] [bigint] NULL,
	[http_status_code] [int] NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_PDF_Download_Log] PRIMARY KEY CLUSTERED 
(
	[download_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PDF_Download_Log_AttestUrl]    Script Date: 01.08.2025 16:42:28 ******/
CREATE NONCLUSTERED INDEX [IX_PDF_Download_Log_AttestUrl] ON [ev_enova].[PDF_Download_Log]
(
	[attest_url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ev_enova].[PDF_Download_Log] ADD  DEFAULT (getdate()) FOR [created]
GO
