USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[OpenAIAnswers_Archive]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[OpenAIAnswers_Archive](
	[ArchiveID] [int] IDENTITY(1,1) NOT NULL,
	[openAIAnswerID] [int] NOT NULL,
	[file_id] [int] NOT NULL,
	[PromptVersion] [nvarchar](100) NOT NULL,
	[AboutEstate] [nvarchar](2000) NULL,
	[Positives] [nvarchar](2000) NULL,
	[Evaluation] [nvarchar](2000) NULL,
	[Created] [datetime] NOT NULL
) ON [PRIMARY]
GO
