USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnovaApi_Energiattest_url_log]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnovaApi_Energiattest_url_log](
	[EnovaAPILogID] [bigint] IDENTITY(1,1) NOT NULL,
	[CertificateID] [bigint] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[kommunenummer] [nvarchar](20) NULL,
	[gardsnummer] [nvarchar](20) NULL,
	[bruksnummer] [nvarchar](20) NULL,
	[seksjonsnummer] [nvarchar](20) NULL,
	[bruksenhetnummer] [nvarchar](50) NULL,
	[bygningsnummer] [nvarchar](50) NULL,
	[records_returned] [int] NULL,
	[status_message] [nvarchar](255) NULL,
	[Created] [datetime] NOT NULL,
	[Attestnummer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EnovaApi_Energiattest_url_log] PRIMARY KEY CLUSTERED 
(
	[EnovaAPILogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EnovaApi_Log_CertificateID_Status_Date]    Script Date: 01.08.2025 16:42:28 ******/
CREATE NONCLUSTERED INDEX [IX_EnovaApi_Log_CertificateID_Status_Date] ON [ev_enova].[EnovaApi_Energiattest_url_log]
(
	[CertificateID] ASC,
	[status_message] ASC
)
INCLUDE([LogDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ev_enova].[EnovaApi_Energiattest_url_log] ADD  CONSTRAINT [DF__EnovaApi___LogDa__63F39E39]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [ev_enova].[EnovaApi_Energiattest_url_log] ADD  CONSTRAINT [DF__EnovaApi___Creat__5535A963]  DEFAULT (getdate()) FOR [Created]
GO
