USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[EnergyLabelID]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[EnergyLabelID](
	[LabelID] [bigint] IDENTITY(1,1) NOT NULL,
	[EnergyLabelID] [nvarchar](50) NOT NULL,
	[file_id] [int] NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[folder] [nvarchar](500) NULL,
	[original_url] [nvarchar](1000) NULL,
	[DownloadDate] [datetime] NOT NULL,
	[CertificateCount] [int] NOT NULL,
 CONSTRAINT [PK_EnergyLabelID] PRIMARY KEY CLUSTERED 
(
	[LabelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
