USE [EnergyCertificate]
GO
/****** Object:  Table [ev_enova].[OpenAIAnswers]    Script Date: 01.08.2025 16:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev_enova].[OpenAIAnswers](
	[openAIAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[file_id] [int] NOT NULL,
	[PromptVersion] [nvarchar](100) NOT NULL,
	[AboutEstate] [nvarchar](2000) NULL,
	[Positives] [nvarchar](2000) NULL,
	[Evaluation] [nvarchar](2000) NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_OpenAIAnswers] PRIMARY KEY CLUSTERED 
(
	[openAIAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ev_enova].[OpenAIAnswers] ADD  CONSTRAINT [DF_OpenAIAnswers_Created]  DEFAULT (getdate()) FOR [Created]
GO
